<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>192696720444-eu3isd8dofec2mta6354gupscts05gdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192696720444-eu3isd8dofec2mta6354gupscts05gdg</string>
	<key>API_KEY</key>
	<string>AIzaSyA_gMDKSyxoXcNAy2H5mgKbhmGcZ14o5i0</string>
	<key>GCM_SENDER_ID</key>
	<string>192696720444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bacon.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-16d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-16d8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:192696720444:ios:3a4e7c38a390960a</string>
	<key>DATABASE_URL</key>
	<string>https://instaclone-16d8f.firebaseio.com</string>
</dict>
</plist>